body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre code {
  background-color: #0A1829;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  color: white;
}

.font {
  font-family: 'Square Peg', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

.footer{
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
  margin: 2%;
}